*
{
    background: url("/assets/images/dinoback.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "myFont";
    

}

@font-face {
    font-family: "myFont";
    src: url(/assets/fonts/Jurassic_Park.ttf);

}

h1 {
    
    border: 10px;
    font-size: 200px;
    text-align: center;
    background: -webkit-linear-gradient(#1E1E3D,#0C7A06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    font-size: 60px;
    background: -webkit-linear-gradient(#1E1E3D,#0C7A06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 50px;
    color: whitesmoke;
}
h4{
    font-size: 80px;
    background: -webkit-linear-gradient(#1E1E3D,#0C7A06);
    -webkit-background-clip: text;

}

#font{
    font-size: 40px;
    color: white;
    padding: 10px;

}

#timeLeft{
    float: left;
    width: 250px;
    color: whitesmoke;
}
#counter-number{
    color: rgb(153, 44, 44);
    font-family: Cambria, Cochin, Georgia, Times;

}

#start {
    width: 150px;
    height: 80px;
    font-size: 50px;

}
input[type="radio"] {
    width: 15px;
    height: 15px;
    font-size: 30px;
    
}

#done {    
    width: 150px;
    height: 80px;
    font-size: 50px;
}
#div-play{
    position: fixed;
    margin-right: 0px;
    
}

/* @media (max-width: 767.98px) {
    background: 50%;
} */
/* @media (max-width: 991.98px) { ... };
@media (max-width: 1199.98px) { ... } */

/*panel.append('<input type="radio" name ="question' + '-' + i + '"value="'  + questions[i].choices[j] +  '">' + questions[i].choices[j]); */